[submodule "packages/yay-bin"]
	path = packages/yay-bin
	url = https://aur.archlinux.org/yay-bin.git
[submodule "packages/vscodium-bin"]
	path = packages/vscodium-bin
	url = https://aur.archlinux.org/vscodium-bin.git
[submodule "packages/asdf-vm"]
	path = packages/asdf-vm
	url = https://aur.archlinux.org/asdf-vm.git
[submodule "packages/linux-xanmod-rt"]
	path = packages/linux-xanmod-rt
	url = https://aur.archlinux.org/linux-xanmod-rt.git
[submodule "packages/mindustry-bin"]
	path = packages/mindustry-bin
	url = https://aur.archlinux.org/mindustry-bin.git
